.current-weather-card-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
}
.upper-weather-card {
  display: flex;
  justify-content: center;
}

.current-weather-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding-top: 7%;
}

.favourites-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
