.current-temp {
  font-size: 85px;
  text-align: center;
  padding: 15px;
}
.current-temp-container h2 {
  text-align: center;
}
.current-temp-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}
.location-container img {
  width: 40px;
  height: auto;
}

.current-temp-container div h2 {
  color: rgb(37, 37, 245);
}
